
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

 <div class="preview">
      <img src="/LayoutAdmin/assets/images/background.png" alt="image" class="background">
</div>
