@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanHang.Models.TDanhMucSp
@{
    ViewData["Title"] = "ThemSanPhamMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 xmlns="http://www.w3.org/1999/html">Them san pham moi</h1>
<h4>TDanhMucSP</h4>
<hr>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ThemSanPhamMoi" method="post">
                <div class="form-group">
                    <label asp-for="MaSp" class="control-label">Mã sản phẩm</label>
                    <input asp-for="MaSp" class="form-control" />
                    <span asp-validation-for="MaSp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TenSp" class="control-label">Tên sản phẩm</label>
                    <input asp-for="TenSp" class="form-control" />
                </div>
                <!-- Bạn có thể thêm các trường khác tương tự -->
            
                <!-- Ví dụ cho trường `Model` -->
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                </div>
            
                <!-- ... và các trường khác -->
                <div class="form-group">
                    <label asp-for="MaChatLieu" class="control-label" ></label>
                    <select asp-for="MaChatLieu" class="form-control" asp-items="ViewBag.MaChatLieu"></select>
                </div>
                <div class="form-group">
                    <label asp-for="MaHangSx" class="control-label" ></label>
                    <select asp-for="MaHangSx" class="form-control" asp-items="ViewBag.MaHangSx"></select>
                </div>
                <div class="form-group">
                    <label asp-for="MaNuocSx" class="control-label" ></label>
                    <select asp-for="MaNuocSx" class="form-control" asp-items="ViewBag.MaNuocSx"></select>
                </div>
                
                 <div class="form-group">
                     <label asp-for="MaDt" class="control-label" ></label>
                     <select asp-for="MaDt" class="form-control" asp-items="ViewBag.MaDt"></select>
                     </div>
            
                <div class="form-group">
                    
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</hr>
